<div class="sidenav-links">
  <img src="../assets/img/logo.png" width="245" height="55" class="logo" alt="logo">
  <ul class="nav sidebar-nav">
    <li>
      <a md-menu-item routerLink="/">Home</a>
    </li>
    <br>
    <li>
      <a md-menu-item routerLink="/projects">Projects</a>
    </li>
    <li>
      <a md-menu-item href="/resume">Resume</a>
    </li>
    <li>
      <a md-menu-item href="#">Contact</a>
    </li>
    <li>
      <a md-menu-item href="/photography">Photography</a>
    </li>
  </ul>
</div>
