<div class="sidenav-links">
  <h1>Rich</h1>
  <button md-menu-item routerLink="/">
    <md-icon>home</md-icon>
    <span>Home</span>
  </button>
  <button md-menu-item routerLink="/resume">
    <md-icon>work</md-icon>
    <span>Resume</span>
  </button>
  <button md-menu-item routerLink="/projects">
    <md-icon>web</md-icon>
    <span>Projects</span>
  </button>
  <button md-menu-item routerLink="/photography">
    <md-icon>camera_roll</md-icon>
    <span>Photography</span>
  </button>
  <button md-menu-item routerLink="#">
    <md-icon>mail_outline</md-icon>
    <span>Contact</span>
  </button>
</div>
