<button md-icon-button [mdMenuTriggerFor]="menu">
      <i class="material-icons">apps</i>
    </button>
<md-menu #menu="mdMenu">
  <md-grid-list cols="3">
    <md-grid-tile>
      <button md-button>
            <i class="material-icons">lightbulb_outline</i>
          </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-button>
            <i class="material-icons">equalizer</i>
          </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-button>
            <i class="material-icons">help</i>
          </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-button>
           <i class="material-icons">bug_report</i>
          </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-button>
          <i class="material-icons">settings</i>
      </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-button>
          <i class="material-icons">announcement</i>
      </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-button>
          <i class="material-icons">face</i>
      </button>
    </md-grid-tile>
  </md-grid-list>

</md-menu>
